# Gradle-specific files
.gradle/
build/

# Maven-specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws

# VS Code settings
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db

# Kotlin-specific files
*.kotlin_metadata

# Java-specific files
*.class

# Dependency caches
bin
**/out/
**/.idea_modules/
**/.classpath
**/.project
**/.settings/

# OS-specific files
*.~lock.*
*.afdesign~lock~
